LANDING_CONTENT_CSV_URL="https://docs.google.com/spreadsheets/d/e/YOUR_PUBLISHED_SHEET_ID/pub?gid=0&single=true&output=csv"
GALLERY_CSV_URL="https://docs.google.com/spreadsheets/d/e/YOUR_PUBLISHED_GALLERY_SHEET_ID/pub?gid=0&single=true&output=csv"
ARCHIVE_CSV_URL="https://docs.google.com/spreadsheets/d/e/YOUR_PUBLISHED_ARCHIVE_SHEET_ID/pub?gid=0&single=true&output=csv"
SOCIAL_BOARD_CSV_URL="https://docs.google.com/spreadsheets/d/e/YOUR_PUBLISHED_SOCIAL_BOARD_SHEET_ID/pub?gid=0&single=true&output=csv"
SOCIAL_BOARD_FORM_URL="https://docs.google.com/forms/d/e/YOUR_GOOGLE_FORM_ID/viewform"
